@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    height: 100vh;
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main{
    position: relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

#tela{
    position: relative;
    top: 80px;
    left: 21px;
    width: 266px;
    height: 470px;
}

#redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: end;
}

#redes-sociais > a > img{
    width: 53px;
    margin: 13px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.76);
    box-sizing: border-box;
}

img:hover{
    border: 2.8px solid rgba(255, 255, 255, 0.719);
    transform: translate(-4px, -4px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.774);
    transition: transform .4s;
}
